Options -MultiViews

DirectoryIndex landing.html index.php

RewriteEngine on
RewriteBase /

	RewriteRule ^index/?$ index.php [L]
	RewriteRule ^stay/?$ rooms.php [L]
	RewriteRule ^stay/([^/.]+)/?$ room.php?slug=$1 [L]
	RewriteRule ^eat-and-drink/?$ aabb.php [L]
	RewriteRule ^eat-and-drink/([^/.]+)/?$ aabb-detalle.php?slug=$1 [L]
	RewriteRule ^events/?$ events.php [L]
	RewriteRule ^events/([^/.]+)/?$ events-detalle.php?slug=$1 [L]
	RewriteRule ^gallery/?$ gallery.php [L]
	RewriteRule ^location/?$ location.php [L]
	RewriteRule ^specials/?$ specials.php [L]
	RewriteRule ^specials/([^/.]+)/?$ special.php?slug=$1 [L]
	RewriteRule ^the-hotel/?$ the-hotel.php [L]
	RewriteRule ^news/?$ noticias.php [L]
	RewriteRule ^news/([^/.]+)/?$ noticia.php?slug=$1 [L]
	RewriteRule ^contact/?$ contact.php [L]
	RewriteRule ^contact/thanks/?$ contact.php?msg=1 [L]
	RewriteRule ^safety-protocols/?$ safety.php [L]
	RewriteRule ^privacy-policy/?$ privacy.php [L]
	RewriteRule ^legal-notice/?$ legal.php [L]
	RewriteRule ^services/?$ services.php [L]
	RewriteRule ^services/gym/?$ gimnasio.php [L]
    RewriteRule ^services/gym/areasentrenamiento/?$ areasentrenamiento.php [L]
    RewriteRule ^services/gym/bienestar/?$ bienestar.php [L]
    RewriteRule ^services/gym/ecosistemadigitalycomunidad/?$ ecosistemadigitalycomunidad.php [L]
    RewriteRule ^services/laundry/?$ laundry.php [L]
    RewriteRule ^services/driver/?$ driver.php [L]
	RewriteRule ^services/spa/?$ spa.php [L]
	RewriteRule ^services/spa/massage/?$ massage.php [L]
	RewriteRule ^services/spa/facial/?$ facial.php [L]
	RewriteRule ^services/spa/exfoliation/?$ exfoliation.php [L]
	RewriteRule ^services/tours/?$ tours.php [L]

	RewriteRule ^es/index/?$ index.php [L]
	RewriteRule ^es/stay/?$ rooms.php [L]
	RewriteRule ^es/stay/([^/.]+)/?$ room.php?slug=$1 [L]
	RewriteRule ^es/eat-and-drink/?$ aabb.php [L]
	RewriteRule ^es/eat-and-drink/([^/.]+)/?$ aabb-detalle.php?slug=$1 [L]
	RewriteRule ^es/events/?$ events.php [L]
	RewriteRule ^es/events/([^/.]+)/?$ events-detalle.php?slug=$1 [L]
	RewriteRule ^es/gallery/?$ gallery.php [L]
	RewriteRule ^es/location/?$ location.php [L]
	RewriteRule ^es/specials/?$ specials.php [L]
	RewriteRule ^es/specials/([^/.]+)/?$ special.php?slug=$1 [L]
	RewriteRule ^es/the-hotel/?$ the-hotel.php [L]
	RewriteRule ^es/news/?$ noticias.php [L]
	RewriteRule ^es/news/([^/.]+)/?$ noticia.php?slug=$1 [L]
	RewriteRule ^es/contact/?$ contact.php [L]
	RewriteRule ^es/contact/thanks/?$ contact.php?msg=1 [L]
	RewriteRule ^safety-protocols/?$ safety.php [L]
	RewriteRule ^es/privacy-policy/?$ privacy.php [L]
	RewriteRule ^es/legal-notice/?$ legal.php [L]
	RewriteRule ^es/services/?$ services.php [L]
	RewriteRule ^es/services/laundry/?$ laundry.php [L]
    RewriteRule ^es/services/driver/?$ driver.php [L]
	RewriteRule ^es/services/spa/?$ spa.php [L]
    RewriteRule ^es/services/spa/massage/?$ massage.php [L]
    RewriteRule ^es/services/spa/facial/?$ facial.php [L]
    RewriteRule ^es/services/spa/exfoliation/?$ exfoliation.php [L]
    RewriteRule ^es/services/tours/?$ tours.php [L]
    RewriteRule ^es/services/gym/?$ gimnasio.php [L]
    RewriteRule ^es/services/gym/areasentrenamiento/?$ areasentrenamiento.php [L]
    RewriteRule ^es/services/gym/bienestar/?$ bienestar.php [L]
    RewriteRule ^es/services/gym/ecosistemadigitalycomunidad/?$ ecosistemadigitalycomunidad.php [L]