<!DOCTYPE html>
<html lang="es">
<head>
    <base href="{{ base_href }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Alest - Servicios</title>
    <meta name="description" content=" ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="resources/css/alest.css" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="resources/css/mainmenu.css">
    <link rel="stylesheet" href="resources/css/book-widget.css">
    <link rel="stylesheet" href="resources/css/swiper-bundle.min.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% include 'inc_analytics.html' %}

    <style>
        a:focus{
            outline:none !important;
            outline-offset: 0px;
        }

        .hero-home .slide img{
            opacity:0.4;
        }

        .specials{
            overflow:hidden;
        }

    </style>
</head>
<body>
{% include 'inc_header.html' %}
<div class="hero-home" >
    <div class="txt">
        <div class="title">
            Experiencias
        </div>
        <div class="sub">The Alest Hotel </div>
    </div>
    <div class="pager-slider">
        <a href="#"><i class="fa fa-circle" aria-hidden="true"></i></a>
        <a href="#" class="active"><i class="fa fa-circle" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-circle" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-circle" aria-hidden="true"></i></a>
    </div>
    <div class="slide">
        <img src="resources/img/services.png" alt="">
    </div>
</div>
<div id='mainmenu'>
</div>
<div class='calendarBox'>
    <div class='form-hit'></div>
    <div id='calendar' class='dnaCalendar'></div>
    <form id='calendarForm' method='POST' action="book.php" style='display:none;'>
        <input type="hidden" name='datein' value=''/>
        <input type="hidden" name='dateout' value=''/>
        <input type="hidden"  name='adults' value=''/>
        <input type="hidden"  name='children' value=''/>
    </form>
</div>
<div class="intro" style='width: 100%;overflow: hidden;'>
    <div class="container">
        <div class="cont">
            <div class="txt">
                <h6 data-aos="fade-up" data-aos-duration="900">Experiencias Elevadas</h6>
                <h1 data-aos="fade-up" data-aos-duration="900" data-aos-offset="200">Lujo<br><span>Personalizado</span></h1>
                <p data-aos="fade-up" data-aos-duration="900" data-aos-offset="100">
                    The Alest Hotel presenta una nueva colección de experiencias personalizadas diseñadas para enriquecer cada estancia.</p>
                <p data-aos="fade-up" data-aos-duration="900" data-aos-offset="100">Desde sesiones de bienestar cuidadosamente seleccionadas y programas privados de acondicionamiento físico, hasta cenas exclusivas y placeres en la habitación, cada servicio está creado para reflejar el estilo distintivo de The Alest — sofisticado, íntimo y profundamente personal.</p>
                <p data-aos="fade-up" data-aos-duration="900" data-aos-offset="100">Descubre cómo cada detalle transforma tu estancia en algo verdaderamente inolvidable.</p>
            </div>
            <figure>
                <img src="resources/img/services.jpg" alt="" data-aos="fade-up" data-aos-duration="900">
            </figure>
        </div>
    </div>
</div>
<div class="galeria pararoom" style='width: 100%;overflow: hidden;'>
    <div class="container">
        <h2 style="margin-bottom: 0;">Nuestros Servicios Más Buscados</h2>
        <h3 style="font-size: 28px;">Diseñados para el Viajero Exigente</h3>
        <div class="row">
            <div class="col-sm-6">
                <a href="es/services/gym">
                    <figure class="tall" style="background-color: transparent !important;">
                        <figcaption data-aos="fade-up" data-aos-duration="1200">
                            <div class="tit">Dinamo Gym</div>
                            <div class="des">Experiencias de Bienestar</div>
                        </figcaption>
                        <img src="resources/img/dinamo.jpg" alt="" data-aos="fade-right" data-aos-duration="1000">
                    </figure>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="es/services/spa">
                    <figure class="fat" style="background-color: transparent !important;">
                        <figcaption data-aos-duration="1700" data-aos="fade-up">
                            <div class="tit">SPA The Alest </div>
                            <div class="des">Santuario de Bienestar Holístico</div>
                        </figcaption>
                        <img src="resources/img/spa.jpg" alt="" data-aos="fade-left" data-aos-duration="1500">
                    </figure>
                </a>
                <a href="es/services/tours">
                    <figure class="fat" style="background-color: transparent !important;">
                        <figcaption data-aos="fade-up" data-aos-duration="2200">
                            <div class="tit">Tours</div>
                            <div class="des">Momentos únicos a tu alrededor</div>
                        </figcaption>
                        <img src="resources/img/journeys.jpg" alt="" data-aos="fade-up" data-aos-duration="2000">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="specials" style='overflow: hidden;'>
    <div class="header" >
        <div class="row">
            <div class="col-sm-12">
                <h2>Nuestros Servicios</h2>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <nav style="margin-top: 0px;display: block;">
                    <a href="es/services/tours" class=""><img src="resources/img/prev.png" alt="anterior"></a> <a href="#" ><img src="resources/img/next.png" alt="siguiente"></a>
                </nav>
            </div>
        </div>
    </div>
    <div class="grid" data-aos="fade-up" data-aos-duration="3000" style="top: 100px;">
        <figure>
            <a href="es/services/gym">
                <figcaption>
                    <h4>Dinamo Gym</h4>
                    <p>Experiencias de Bienestar</p>
                </figcaption>
                <div class="shad"></div>
                <img src="resources/img/dinamo.jpg" alt="">
                <div class="bg"></div>
            </a>
        </figure>
        <figure>
            <a href="es/services/driver">
                <figcaption>
                    <h4>The House Car</h4>
                    <p>Tu viaje comienza con comodidad</p>
                </figcaption>
                <div class="shad"></div>
                <img src="resources/img/the-car-house.jpg" alt="">
                <div class="bg"></div>
            </a>
        </figure>
        <figure>
            <a href="es/services/laundry">
                <figcaption>
                    <h4>Lavandería y Cuidado</h4>
                    <p>Atención fresca para tus prendas</p>
                </figcaption>
                <div class="shad"></div>
                <img src="resources/img/laundry.jpg" alt="" >
                <div class="bg"></div>
            </a>
        </figure>
        <figure>
            <a href="es/services/spa">
                <figcaption>
                    <h4>SPA The Alest</h4>
                    <p>Santuario de Bienestar Holístico</p>
                </figcaption>
                <div class="shad"></div>
                <img src="resources/img/spa.jpg" alt="">
                <div class="bg"></div>
            </a>
        </figure>
        <figure>
            <a href="es/services/tours">
                <figcaption>
                    <h4>Tours</h4>
                    <p>Momentos únicos a tu alrededor</p>
                </figcaption>
                <div class="shad"></div>
                <img src="resources/img/journeys.jpg" alt="">
                <div class="bg"></div>
            </a>
        </figure>
    </div>

</div>
<div class="testimonials"  >
    {% for item in testimonials %}

    <div class="txt">
        <div class="llave" data-aos="fade-down" data-aos-duration="2000">
            <img src="resources/img/llave.png" alt="">
        </div>
        <h4 data-aos="fade-up" data-aos-duration="2000">“{{ item['text'] }}”</h4>
        <div class="author" data-aos="fade-up" data-aos-duration="2000"><strong>{{ item['author'] }}</strong> / {{ item['location'] }}</div>
    </div>

    {% endfor %}
    <div class="bg" data-aos="zoom-in" data-aos-duration="2000">
        <img src="resources/img/alest-bg.jpg" alt="">
    </div>
</div>
{% include 'inc_footer.html' %}
<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="resources/js/jQuery.succinct.min.js"></script>
<script src="resources/js/scrollreveal.min.js"></script>
<script>
    window.MAINMENU_URL='/es/mainmenu.html';
</script>
<script src="resources/js/main.js?a=0"></script>
<script src="resources/js/newsletter.js"></script>
<script src="resources/js/book-widget.js?ap=tst2"></script>

<script src="resources/js/swiper-bundle.min.js"></script>
<script src='resources/js/lineSlider.js'></script>


<script>
    $(function(){
        $(".check-av").click(function(e){
            if(e)e.preventDefault();
            $("#calendarForm").submit();

        });

    });



</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>
    AOS.init();

    window.addEventListener('load', function() {
        AOS.refresh();
    });


</script>
</body>
</html>
