<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="{{ base_href }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Alest, {{title}}</title>
    <meta name="description" content="{{title}}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="resources/css/alest.css" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/font-awesome.min.css">
    <link rel="stylesheet" href="resources/css/mainmenu.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% include 'inc_analytics.html' %}
    
    <style>

      .hero-home .slide img{
              opacity:0.4;
            }
          </style>
  </head>
  <body>
    
    {% include 'inc_header.html' %}
    <div class="hero-noimage">
      <div class="title">Políticas de Privacidad</div>
      <div class="sub">The Alest Hotel</div>
    </div>
    
    <!-- MAIN MENU mainmenu.html -->
    <div id='mainmenu'>
    </div>
    <!-- / MAIN MENU mainmenu.html -->
    <div class="special-detalle">
      <div class="container">
        
        <div class="row">
          <div class="col-sm-4 col-sm-push-8">
            <figure>
              <img src="{{image}}" alt="">
            </figure>
          </div>
          <div class="col-sm-8 col-sm-pull-4">
            <div class="txt">
            <h1>{{title}}</h1>
            
            <article>
              {{text|raw}}
            </article>
          
          
          </div>
          
        </div>
        
      </div>
      
    </div>
  </div>
  {% include 'inc_footer.html' %}
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="resources/js/jQuery.succinct.min.js"></script>
  <script src="resources/js/scrollreveal.min.js"></script>
<script>
window.MAINMENU_URL='/es/mainmenu.html';
</script>
  <script src="resources/js/main.js"></script>
<script src="resources/js/newsletter.js"></script>
  <script>
 
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  
  <script>
  AOS.init();
  
  window.addEventListener('load', function() {
      AOS.refresh();
  });
  
  
      </script>
</body>
</html>