{% extends "template_container.html" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <ol class="breadcrumb">
          <li><i class="fa fa-edit"></i> {{sectionTitle}}</li>
          <li class="active">Items</li>
        </ol>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            {% if mode == 'order' %}

                {% if items|length > 0 %}

                    <form method="POST" action="{{currentPage}}?{{qs}}" id="form" name="form" class="form-horizontal">
                        <input type="hidden" id="submitUpdateOrder" name="submitUpdateOrder" value="{{mode}}" />

                        <input type="hidden" id="orderHidden" name="orderHidden">

                        <div class="box box-info">
                            <div class="box-body">
                                <p>{{ translationDragAndDrop }}</p>

                                <ul class='containerOrder list-group'>

                                {% for item in items %}
                                    <li data-id="{{ item['id'] }}" class="list-group-item pointer">{{ item['title'] }}

                                    {% if item['status'] %}
                                        / <small class="label bg-green">{{translationActive}}</small>
                                    {% endif %}

                                    </li>
                                {% endfor %}

                                </ul>

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->

                        <div class="box">
                            <div class="box-footer">
                                <a href="{{currentPage}}?">
                                    <button type="button" class="btn btn-default"><i class="fa fa-undo"></i> {{ translationCancel }}</button>
                                </a>

                                <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> {{ translationSave }}</button>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /.box -->

                    </form>

                {% else %}

                    <br />
                    <div class="callout callout-danger">
                        <p><i class="fa fa-warning"></i> {{ translationNoItemsAvailable }}</p>
                    </div>

                {% endif %}

            {% elseif mode == 'list' %}

                {% if msgUpdated %}
                    <br />
                    <div class="callout callout-success">
                        <p><i class="fa fa-check-circle"></i> {{ msgUpdated }}</p>
                    </div>
                {% endif %}

                {% if items|length > 0 %}
                    <div class="box box-info">
                        <div class="box-body">

                            <table id="mainTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Date</th>
                                        <th class="col-md-8">{{translationTitleCol}}</th>
                                        <th class="col-md-1"><span class="visible-xs-inline"><i class="fa fa-check-circle"></i></span><span class="hidden-xs">{{translationStatus}}</span></th>
                                        <th class="col-md-2">{{translationEdit}}</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for item in items %}
                                        <tr>
                                            <td><span style="display: none">{{ item['position'] }}</span> {{ item['fecha'] }}</td>
                                            <td>{{ item['title'] }} [{{ item['lang'] }}]</td>
                                            <td>
                                                {% if item['status'] %}
                                                    <small class="label bg-green"><span class="visible-xs-inline"><i class="fa fa-check-circle"></i></span> <span class="hidden-xs">{{translationActive}}</span></small>
                                                {% else %}
                                                    <small class="label bg-red"><span class="visible-xs-inline"><i class="fa fa-check-circle"></i></span> <span class="hidden-xs">{{translationInactive}}</span></small>
                                                {% endif %}
                                            </td>             
                                            <td>
                                                <a href="{{currentPage}}?mode=edit&id={{ item['id'] }}">
                                                    <button type="button" class="btn btn-info btn-xs"><span class="visible-xs-inline"><i class="fa fa-pencil"></i></span> <span class="hidden-xs">{{translationEdit}}</span></button>
                                                </a>

                                                <a data-toggle="modal" data-id="{{ item['id'] }}" data-toggle="modal" title="{{translationDelete}}" class="open-puDelete btn bg-navy btn-xs" href="#puDelete"><span class="visible-xs-inline"><i class="fa fa-remove"></i></span> <span class="hidden-xs">{{translationDelete}}</span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                {% else %}

                    <br />
                    <div class="callout callout-danger">
                        <p><i class="fa fa-warning"></i> {{ translationNoItemsAvailable }}</p>
                    </div>

                {% endif %}

                <br />
                <a href="{{ linkAdd }}">
                    <button type="button" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ translationAddItem }}</button>
                </a>

                <a href="articles-slider.php">
                    <button type="button" class="btn btn-warning"><i class="fa fa-list"></i> Instagram images</button>
                </a>

            {% elseif mode == 'edit' %}

                {% if errorMsg %}
                    <br />
                    <div class="callout callout-danger">
                        <p><i class="fa fa-warning"></i> {{ errorMsg }}</p>
                    </div>
                {% endif %}

                <!-- Horizontal Form -->
                <form method="POST" action="{{currentPage}}?{{qs}}" id="form" name="form" class="form-horizontal" enctype="multipart/form-data">
                    <input type="hidden" id="submitUpdate" name="submitUpdate" value="1" />

                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ translationEditLabel }}</h3>
                        </div>
                        <!-- /.box-header -->

                        <div class="box-body">

                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">{{translationTitleCol}}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="title" name="title" value="{{title}}">
                                </div>
                                <div class="col-sm-2">
                                    <p class="text-red">{{ translationRequired }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pubDate" class="col-sm-2 control-label">Date</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control datepicker" id="pubDate" name="pubDate" value="{{pubDate}}">
                                </div>
                                <div class="col-sm-2">
                                    <p class="text-red">{{ translationRequired }}</p>
                                </div>
                            </div>

                            <input type='hidden' name='image' value='{{image}}' />

                            <div class="form-group">
                                <label for="image" class="col-sm-2 control-label">Image</label>
                                <div class="col-sm-8">
                                    <input type="file" id="image" name="image">
                                    <p class="help-block">{{translationSize}} 357 x 485px</p>
                                    {% autoescape false %}{{ imagePreview }}{% endautoescape %}
                                </div>
                                <div class="col-sm-2">
                                    <p class="text-red">{{ translationRequired }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="intro" class="col-sm-2 control-label">Intro </label>
                                <div class="col-sm-8">
                                    <textarea id="intro" name="intro" class="form-control" rows="4">{{intro}}</textarea> 
                                </div>
                                <div class="col-sm-2">
                                    <p class="text-red">{{ translationRequired }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Description </label>
                                <div class="col-sm-8">
                                    <textarea id="description" name="description" class="form-control summernote" rows="10">{{description}}</textarea> 
                                </div>
                                <div class="col-sm-2">
                                    <p class="text-red">{{ translationRequired }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                              <label for="lang" class="col-sm-2 control-label">Language</label>
                              <div class="col-sm-8">
                                  <select class="form-control" id="lang" name="lang">
                                      <option value="">-</option>
                                      {% for i in langs %}
                                        <option value="{{ i['id'] }}" {{ i['selected'] }}>{{ i['text'] }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                              <div class="col-sm-2">
                                  <p class="text-red">{{ translationRequired }}</p>
                              </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title"> {{ translationStatus }}</h3>
                        </div>
                        <!-- /.box-header -->

                        <div class="box-body">

                            <div class="form-group">
                                <label for="status" class="col-sm-2 control-label"></label>

                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="status" name="status" value="1" {% if status %}checked{% endif %} /> {{ translationStatusDesc }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                    <div class="box">
                        <div class="box-footer">
                            <a href="{{linkCancel}}">
                                <button type="button" class="btn btn-default"><i class="fa fa-undo"></i>&nbsp;{{ translationCancel }}</button>
                            </a>

                            <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i>&nbsp;{{ translationSave }}</button>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->

                </form>

            {% endif %}

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<!-- delete -->
<div id="puDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ translationConfirm }}</h4>
            </div>

            <form id="frmDelete" name="frmDelete" method="POST" action="{{currentPage}}?">
                <input type="hidden" id="submitDelete" name="submitDelete" value="1" />
                <input type="hidden" id="idDelete" name="idDelete" />

                <div class="modal-body">
                    <p>{{ translationConfirmDeleteLabel }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ translationStrNo }}</button>
                    <button type="submit" class="btn btn-primary">{{ translationStrYes }}</button>
                </div>

            </form>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}

{% block js %}

    {% if mode == 'order' %}

        <script src="./resources/plugins/jquery-sortable.js"></script>
        <script>
        $(function  () {
          $("ul.containerOrder").sortable({
              onDrop: function ($item, container, _super) {
                var data = $("ul.containerOrder").sortable("serialize").get();

                var jsonString = JSON.stringify(data, null, ' ');

                $('#orderHidden').val(jsonString);
                _super($item, container);
              }
            });
        });
        </script>

    {% elseif mode == 'list' %}

        <!-- DataTables -->
        <script src="./resources/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="./resources/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script>
            $(function() {
                $('#mainTable').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true

                    {% if siteLang == 'es' %}
                    , "language": {
                        "url": "./resources/plugins/datatables/Spanish.json"
                    }
                    {% endif %}

                });
            });
        </script>

    {% elseif mode == 'edit' %}

        <script src="./resources/plugins/summernote/summernote.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
          $('.summernote').summernote();
        });            
        </script>        

        <!-- datepicker -->
        <script src="./resources/plugins/datepicker/bootstrap-datepicker.js"></script>

        {% if siteLang == 'es' %}
        <script src="./resources/plugins/datepicker/locales/bootstrap-datepicker.es.js"></script>
        {% endif %}

        <script>
            $(function() {
                $('.datepicker').datepicker({
                    autoclose: true,

                    {% if siteLang == 'es' %}
                        language: 'es',
                        format: 'dd/mm/yyyy'
                    {% else %}
                        format: 'mm/dd/yyyy'
                    {% endif %}
                });
            });
        </script>

    {% endif %}

{% endblock %}
