
  .fullGallery{
    display:none;
    background-color:#fafafa;
     height:90vh;
    position: absolute;

  }
  .fullGallery.opened{
position:absolute;
     top:0;
left:0;
width:100%;
z-index: 1000;
    display: block;
  }

  .fullGallery .img{
    overflow:hidden;
width:100%;
height:100%;
position:relative;
background-color: #333333;
  }

  .fullGallery .img img{
 width:100%;
height:100%;
position:absolute;
object-fit: cover;
opacity:0; 
} 
.fullGallery nav{
    position: absolute;
    top:0;left:0;
    right:0;
    background-color: #ffffffdd;
    padding:16px;
    color:#333333;
z-index: 1001;
}
.fullGallery nav > span{
     color:#c7a86f;
 font-size: 14px;
font-weight: 600;
  font-family: 'Baskervville', serif;
  text-transform: uppercase;
    }

    .fullGallery nav > span.tit{
        color:#333333;
    font-size: 14px;
   font-weight: 300;
     font-family: 'Baskervville', serif;
     text-transform: none;
     display: inline-block;
     padding:0 12px;
     margin-left:12px;
     border-left: 1px solid #333333;
       }


.fullGallery nav .dots {
   display: inline-block;
   margin-left: 40px; 
}
.fullGallery nav .dots .dot{

display: inline-block;
width:10px;
height:10px;
margin:0px 8px;
border-radius: 50%;
background-color: #aaaaaa;
cursor:pointer;
transform:scale(0.8,0.8);
}
.fullGallery nav .dots .dot.active{

    display: inline-block;
    width:12px;
    height:12px; 
    border-radius: 50%;
    background-color: #c7a86f;
    
    }