<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{ base_href }}">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Alest, The Hotel</title>
  <meta name="description" content=" ">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="resources/css/alest.css" rel="stylesheet">
  <link rel="stylesheet" href="resources/css/font-awesome.min.css">

  <link rel="stylesheet" href="resources/css/mainmenu.css">
  <link rel="stylesheet" href="resources/css/book-widget.css">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

      {% include 'inc_analytics.html' %}
      
  </head>
  <body>

 
    {% include 'inc_header.html' %}


    <div class="hero-home" >
      <div class="txt">
        <div class="title">
          The Hotel
        </div>
        <div class="sub">Sophisticated & eclectic. One of a kind.</div>

        <div class="hidden-xs">
          <div class="book-widget"> </div>
          <a href="#" class="btn-line-big check-av">Check Availability</a>
        </div>

        <div class="visible-xs">
          <a href="https://be.synxis.com/?hotel=31241" target="_blank" class="btn-line-big">Check Availability</a>
        </div>
      </div>

      <div class="pager-slider">
        <a href="#"><i class="fa fa-circle" aria-hidden="true"></i></a>
        <a href="#" class="active"><i class="fa fa-circle" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-circle" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-circle" aria-hidden="true"></i></a>
      </div>

      <div class="slide">
        <img src="resources/img/hero-thehotel.jpg" alt="">
      </div>
    </div>





<!-- MAIN MENU mainmenu.html -->

<div id='mainmenu'>
</div>

<!-- / MAIN MENU mainmenu.html -->




<!-- cal -->
<div class='calendarBox'>
  <div class='form-hit'></div>
<div id='calendar' class='dnaCalendar'></div>

<form id='calendarForm' method='POST' action="book.php" style='display:none;'>
<input type="hidden" name='datein' value=''/>
<input type="hidden" name='dateout' value=''/>
<input type="hidden"  name='adults' value=''/>
<input type="hidden"  name='children' value=''/>
 </form>
</div>
<!-- /calendar
-->



    <div class="the-hotel" style='width: 100%;overflow: hidden;'>
      <div class="container">

        <div class="first">
          <div class="row">
            <div class="col-sm-6">
              <div class="left">
                <h6 data-aos="fade-right" data-aos-duration="1000">Charming</h6>
                <h1 data-aos="fade-right" data-aos-duration="1500"><span>Inspiration, style & sophistication</span> in Mexico City</h1>

                <figure data-aos="fade-up" data-aos-duration="1000">
                  <img src="resources/img/thehotel1.jpg" alt="">
                </figure>
              </div>
            </div>
            <div class="col-sm-6">
             <div class="right" >
              <div data-aos="fade-left" data-aos-duration="1000">
                <p>
                  The Alest is one of a kind. Sophisticated and eclectic, its British-inspired exterior is fused with various classic European styles that redefine the architectural style found in the Polanco neighborhood, represented by modern construction that coexists with neocolonial and California-style homes. 
                </p>
                <p>Opulent and with an unparalleled personality, The Alest is second to none when it comes to welcoming the world travelers it hosts. </p>
                <p>This is a truly new concept of luxury “petit” hotels in Mexico City.</p>

              </div>


              <div class="epigrafe" data-aos="fade-left" data-aos-duration="1000">
                The inside of The Alest is a universe onto itself, a haven for disconnecting. Its eclectic style surprises and delights guests. Different international interior design trends are carefully curated, then splendidly combined.
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="second">
        <div class="row">
          <div class="col-sm-6">
            <div class="left">
              <h6 data-aos="fade-left" data-aos-duration="1000">History</h6>
              <h2 data-aos="fade-left" data-aos-duration="1500"><span>Polanco,</span> a hallmark of Mexico City</h2>
              <div data-aos="fade-up" data-aos-duration="1000">
                <p>The history of the Polanco area began during colonial times, in the 16th century. The Hacienda de San Juan de los Morales was the first building in the area that the King of Spain donated to Hernan Cortes, and it takes its name from the mulberry trees that were planted here.</p>
                <p>Around 1930, the lands were divided in response to the demand for urban areas in this region. The population had grown following the Mexican Revolution, due to families wishing to move away from the central area of the city.</p>
                <p>The avenue that was originally called Paseo del Emperador, designed as a direct path to transfer Emperor Maximilian I of Habsburg from the Chapultepec Castle to the National Palace, is currently known as Paseo de la Reforma. It was extended out to the Chapultepec Forest and the newly subdivided lands of the Hacienda de los Morales. </p>
                <p>This new area, known as Polanco, was populated by upper-middle-class families. Its streets were named after humanists, philosophers and writers.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="right">
              <figure data-aos="fade-right" data-aos-duration="1000">
                <img src="resources/img/thehotel2.jpg" alt="polanco">
              </figure>
              <div class="epigrafe" data-aos="fade-right" data-aos-duration="1500">
                Cultural diversity has been a hallmark of the Polanco neighborhood. To this day, it continues to be the favorite area for new inhabitants arriving from other countries. They delight in the cosmopolitan vibe and its streets, so full of life.

              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="third">
        <figure data-aos="fade-right" data-aos-duration="1000" >
          <img src="resources/img/thehotel3.jpg" alt="">
        </figure>
        <div class="txt" data-aos="fade-left" data-aos-duration="1000">
          <h3>Unbeatable service</h3>
          <p>The Alest provides a superior level of service with the right balance of professionalism, privacy and warmth.</p>
          <p>Here every visitor is treated as a valued and special. The needs and tastes of guests will always be anticipated. They are made to feel at home and pampered with high-end amenities within the property. The exclusive experiences that the neighborhood offers are at their disposal.</p>

        </div>
      </div>


      <div class="third">

        <div class="txt" data-aos="fade-right" data-aos-duration="1000">
          <h3>Wellness</h3>
          <p>Thanks to exclusive alliances aimed toward ensuring their well-being, The Alest guests can enjoy massages and aesthetic treatments in the comfort of their room, or, as an outside service, at the best spas in the area. </p>
          <p>They can also keep in shape with yoga and fitness trainers offering their favorite workout styles at nearby fitness studios or spas recommended by our concierge.</p>

        </div>
        <figure data-aos="fade-left" data-aos-duration="1000">
          <img src="resources/img/thehotel4.jpg" alt="">
        </figure>
      </div>







    </div>
  </div>









  














{% include 'inc_footer.html' %}








<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="resources/js/jQuery.succinct.min.js"></script>
<script src="resources/js/scrollreveal.min.js"></script>
<script src="resources/js/main.js"></script>
<script src="resources/js/newsletter.js"></script>
<script src="resources/js/book-widget.js"></script>
 
<script>


$(function(){
  $(".check-av").click(function(e){
    if(e)e.preventDefault();
$("#calendarForm").submit();

  });

});

  AOS.init();
</script>
</body>
</html>